.navContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 8vh;
  min-height: 50px;
}

/* want to bring image and button to front using z index so stars dont pass through it but doing it to image div also brings border of image to front which looks weird */
.image{
  position: relative;
  left: 1%;
  right: auto;
  margin-left: 1vw;
  margin-top: -2vh;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2vh;
  /* height: 18vw; */
  height: min(18vw, 18vh);
  max-height: 130px;
  border-radius: 50%;
}

button {
  font-size: medium;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  background-color: transparent;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  width: 8vw;
  height: 30px;
  min-width: 80px;
  margin-top: 2.5vh;
  position: relative;
  font-family: roboto;
}

button:hover{
  color: black;
  background-color: yellow;
}

button:active{
  background-color: black;
  color: white;
}

.homeButton {
  /* margin-right: auto; */
  margin-right: max(auto, 30%);
  margin-left: 2vw;
}

.projectsButton {
}

.contactButton {
  margin-left: max(auto, 30%);
  margin-right: 2vw;
}